@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css?family=Murecho:100,200,300,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Rubik:ital@0;1&display=swap");

body {
	font-family: "Arial", sans-serif;
	font-size: 25px;
}

.title {
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	text-shadow: 10px 15px 15px hsla(204, 93%, 39%, 0.74);
}
.block_1 {
	font-family: "Murecho", sans-serif;
}
.subtitle_one {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	color: lime;
}
.text_one {
	font-size: 20px;
	line-height: 1.2;
}
.block_2 {
	font-family: "Lato", sans-serif;
}
.subtitle_two {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	color: mediumblue;
}
.text_two {
	line-height: 1.3;
}
.text_two > span {
	text-transform: uppercase;
}
.block_3 {
	font-family: "Oswald", sans-serif;
}
.subtitle_three {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	color: olive;
}
.text_three {
	line-height: 1.5;
}
.text_three > span {
	text-transform: uppercase;
}
.subtitle_three_first {
}
.block_4 {
}
.subtitle_four {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	color: gold;
}
.text_four {
	line-height: 1.5;
}
.subtitle_four_first {
}
.subtitle_five {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	color: darkviolet;
}
.text_five {
	line-height: 1.5;
}

ul {
	text-decoration: underline;
}
